body {
    background-color: #393939;
    margin: 0;

}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: calc(12px + 4vmin);
    padding-bottom: 1vh;
}

.text-light h1 {
    color: #ffffff;
}

.text-dark h2 {
    color: #1f1f1f;
}

.post-envelope {
    min-height: 85vh;
}

.footer {
    min-height: 15vh;
}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: calc(10px + 3vmin);
    width: 100%;
}

.splash a {
    color: #a6a6a6;
    text-decoration: none;

}

.splash a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.bg-dark {
    background-color: #171717 !important;
}

.bg-dark a {
    color: #a6a6a6;
    text-decoration: none;

}

.bg-dark a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: calc(8px + 2.5vmin);
    width: 100%;
    opacity: 1;
}

.text-light h3 {
    color: #a6a6a6;
}

.text-dark h3 {
    color: #363636;
}

.splash {
    background-attachment: local;
    background-size: cover;
    background-image: linear-gradient(#000000, #393939);
    align-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
}

#splash-content {
    padding-top: 20vh;
}

#splash-logo {
    max-width: 60%;
    vertical-align: middle;
}

.section-listing {
    counter-reset: list;
}

.section-listing ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.section-listing>ol {
    counter-increment: list;
    padding-left: 2.8em;
}

.section-listing ol>li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.section-listing ol>li:before {
    content: counter(h2) "." counters(item, ".");
    display: table-cell;
    padding-right: 0.6em;
}

.section-listing li ol>li {
    margin: 0;
}

.section-listing li ol>li:before {
    content: counter(h2) "." counters(item, ".") " ";
}

.section-listing {
    counter-reset: h2
}

.section-listing h2 {
    counter-reset: h3
    padding-top: 1em;

}

.section-listing h3 {
    counter-reset: h4
}

.section-listing h4 {
    counter-reset: h5
}

.section-listing h5 {
    counter-reset: h6
}

.section-listing h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

.section-listing h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". "
}

.section-listing h4:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) ". "
}

.section-listing h5:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "
}

.section-listing h6:before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "
}

.section-listing h2.nocount:before,
.section-listing h3.nocount:before,
.section-listing h4.nocount:before,
.section-listing h5.nocount:before,
.section-listing h6.nocount:before {
    content: "";
    counter-increment: none
}

