body {
    background-color: #393939;
    margin: 0;

}
h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    font-size: calc(12px + 4vmin);
    padding-bottom: 1vh;
    opacity: 1;
}
h2 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: #d9d9d9;
    font-size: calc(10px + 3vmin);
    width: 100%;
    text-transform: uppercase;
    opacity: 1;
}
.splash a {
    color: #a6a6a6;
    text-decoration: none;

 }
.splash a:hover{
    color: #d9d9d9;
    text-decoration: underline;
}

.bg-dark {
    background-color: #171717 !important;
}

.bg-dark a {
    color: #a6a6a6;
    text-decoration: none;

 }
.bg-dark a:hover{
    color: #d9d9d9;
    text-decoration: underline;
}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    font-size: calc(8px + 2.5vmin);
    width: 100%;
    opacity: 1;
}
.splash {
    background-attachment: local;
    background-size: cover;
    background-image: linear-gradient(#000000, #393939);
    align-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
}
#splash-content{
    padding-top: 20vh;
}
#splash-logo {
    max-width: 60%;
    vertical-align: middle;
 }