---
title: Home
---

{% include head.html %}

<body>
    <div class="bg-dark container-fluid splash">
        <div class="container" id="splash-content">
            <img id="splash-logo" src="assets/img/UncommonModels.svg" />
            <h1 class="py-4">Uncommon Models</h1>
            <h2>Production-Oriented <br/>Model Railroad <br/> Product Design</h2>
            <h3 class="py-4"><a class="email" href="mailto:sales@uncommonmodels.com">sales@uncommonmodels.com</a></h3>
        </div>
    </div>
    <div class="container  text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for post in site.posts %}
            <div class="row">
                <div class="card m-2 post-preview">

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

{% include footer.html %}

</html>