---
title: Home
---

{% include head.html %}

<body>
    <div class="bg-dark text-light container-fluid splash">
        <div class="container" id="splash-content">
            <img id="splash-logo" src="assets/img/UncommonModels.svg" />
            <h1 class="py-4">Uncommon Models</h1>
            <h2>Production-Oriented <br />Model Railroad <br /> Product Design</h2>
            <h3 class="py-4"><a class="email" href="mailto:sales@uncommonmodels.com">sales@uncommonmodels.com</a></h3>
        </div>
    </div>
    <div class="container justify-content-center text-center pb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 pb-5 justify-content-center">
            {% for post in site.posts %}
            <div class="col">
                <div class="card m-3 post-preview">
                    <img src="{{ site.baseurl }}{{ post.image }}" class="card-img-top" alt="{{post.title}}">
                    <div class="card-body">
                        <h5 class="card-title pb-3" style="min-height: 5vh;">{{post.title}}</h5>
                        <!-- <p class="card-text">{{post.description}}</p> -->
                        <div class="d-flex justify-content-center"><a href="{{post.url}}"
                            class="btn btn-primary">Learn More</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

{% include footer.html %}

