<footer class="container-fluid bg-dark text-light text-center py-5 footer">
    <div class="container bg-dark justify-content-center text-center">
<div class="row justify-content-center  py-1">
  <div class="col-sm-4  my-auto">
    <p class="align-center"><a class="" href="{{site.baseurl}}/">Homepage</a></p>
    <p class="align-center"><a class="" href="{{site.baseurl}}/Free-Trak.html">Free-Trak</a></p>
    <p class="align-center"><a class="" href="{{site.baseurl}}/pyOLCB/">pyOLCB Documentation</a></p>
</div>
  <div class="col-sm-4 my-auto">
    <p class="align-center"><b>Contact:</b>  <a class="email" href="mailto:info@uncommonmodels.com">info@uncommonmodels.com</a></p>
    </div>


</div>      
      <p class="align-center pt-5">
        &copy;
        2024-<script>document.write(new Date().getFullYear())</script> Uncommon Models. All rights reserved. 
      </p>
    </div>
  
</footer>
</html>