<nav class="title-bar">
  <div class="title-bar-inner">
    <a href="{{ '/' | relative_url }}" class="brand">
      <img class="title-logo" src="{{ '/assets/img/UncommonModels_with_text.svg' | relative_url }}" alt="Uncommon Models logo" />
    </a>
    <div class="nav-links">
      <a class="nav-link" href="{{ '#news' }}">News</a>
      <a class="nav-link" href="{{ '#projects' }}">Projects</a>
      <a class="nav-link" href="{{ '#services' }}">Services</a>
      <a class="btn btn-primary" href="mailto:sales@uncommonmodels.com">Contact</a>
    </div>
  </div>
</nav>